.Skills{
    height: 250px;
    width: 200px;
    background-color: #0D99FF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.SkillsBox{
    display: contents;
}

.SkillsBox {
    transition: transform 0.3s ease-in-out; /* Add the transition property */

}

.SkillsBox :hover{
    transform: scale(1.1);
}



.modal{
    display: none;
}